.regulations-offer {
    top: 10px;
    width: 88%;
    z-index: 12;
    display: flex;
    font-size: 20px;
    position: absolute;
    flex-direction: column;
}

.regulations_hover {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #000;
}

.regulations_text {
    opacity: 0;
    transition: 0.2s;
    text-align: center;
    border-radius: 25px;
    background-color: #fff;
}

.regulations_hover:hover + .regulations_text {
    opacity: 1;
    padding: 20px;
    margin-top: 10px;
    border: 2px solid #000;
}